rsyslog:
  lookup:
    remote_hosts:
      loghost-tcp.plus3it.com:
        protocol: 'tcp'
        port: 514
        encrypted: false
        relp: false
      loghost-udp.plus3it.com:
        protocol: udp
        port: 514
        encrypted: false
        relp: false
      loghost-tls.plus3it.com:
        protocol: tcp
        port: 514
        encrypted: true
        relp: false
